

  body, html {
    height: 100%;
    margin: 0px;

  }

  * {
    box-sizing: border-box;
  }

  div p {
    margin:0;
    position: relative;
    top:0;
    bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;

  }

  .start_information {
    background-color: black;
    border: 0px solid blue;
    height: 80%;
    position: fixed;
    z-index: 9000;
    margin:left;
    top: 10%;
    opacity: 0.9;
    border-radius: 0px;
    color: white;
    padding: 10%;

  }

  .navbar-inverse {
      background-color: #00022a;
    }

  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #0f1256;
  }

  .parallax-1, .parallax-2, .parallax-3 {
    position: relative;
    opacity: 9;
    background-attachment: fixed; /* fixed */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;

  }

  .parallax-1 {
    background-image: url("../images/parallax1.jpg");
    min-height: 70%;
  }

  .parallax-2 {
    background-image: url("../images/parallax2.jpg");
    min-height: 40%;
  }

  .parallax-3 {
    background-image: url("../images/parallax3.jpg");
    min-height: 40%;
  }

.partnerzy {
  max-height:auto;
  max-width: 100%;
  opacity: 0.5;
}

.partnerzy:hover {
  opacity: 1;
}

  .truck_line {
    position: absolute;
    background-color: ;
    max-width: 10%;
    min-width: 70px;
    bottom: 0px;
    z-index: 1;

  }

  .information_center {
    position:relative;
    left: 0;
    width: 100%;
    text-align: center;
    color:black;
    z-index:1;
  }

  .information_text {
    padding: 16px;
    border-color: ;
    letter-spacing: 8px;
    background-color: #0f1256;
    color:#8888ef;


  }

/* Nav change color on hoover*/
  .nav>li:hover {
      position: relative;
      display: block;
      background-color: #0f1256;
    }



  /* For <p> in contents */
  .content2 p, .content1 p, .content3 p {
    color:rgba(255, 255, 255, 0.95);
    font-size: 90%;
  }

.content1, .content2, .content3 {
  background-attachment: local;
  -webkit-box-shadow: 0px 0px 31px 25px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 31px 25px rgba(0,0,0,1);
  box-shadow: 0px 0px 31px 25px rgba(0,0,0,1);
  background-position: center;
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

  .content1 {
    background-image: url("../images/content1.jpg");
  }

  .content2 {
    background-image: url("../images/content2.jpg");
  }

  .content3 {
    background-image: url("../images/content3.jpg");
  }

  .footer {
    height: 50px;
    width: 100%;
    background-color: #00022a;
    margin: auto;
  }

  .footer-font {
    color: #8888ef;
    font-size: 10px;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-top: 10px;
  }
