
  body, html {
    height: 100%;
    margin: 0px;

  }

  * {
    box-sizing: border-box;
  }

  div p {
    margin:0;
    position: relative;
    top:0;
    bottom: 10px;

  }


  .parallax-1, .parallax-2, .parallax-3 {
    position: relative;
    opacity: 9;
    background-attachment: fixed; /* fixed */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }




  .parallax-1 {
    background-image: url("../images/parallax1.jpg");
    min-height: 70%;


  }

  .parallax-2 {
    background-image: url("../images/parallax2.jpg");
    min-height: 70%;

  }

  .parallax-3 {
    background-image: url("../images/parallax3.jpg");
    min-height: 70%;
  }

  .truck_line {
    position: absolute;
    background-color: ;
    bottom: -150%;
    max-width: 180px;
    bottom: -25px;
    z-index: -1;

  }

  .information_center {
    position:relative;
    left: 0;
    width: 100%;
    text-align: center;
    color:black;
    z-index:1;
  }

  .information_text {
    padding: 16px;
    border-color: red;
    letter-spacing: 8px;
    background-color: green;

  }

  .absolute_box {
    height: 100%;
    background-color:  ;
    position: relative;; /* relative */


    top:50px;
    height: auto;
    color: black;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    display:block;
  }

  .absolute_box_cell {
    background-color:  ;
    width: 33%;
    height: auto;
    color: black;
    text-align: center;
    display: table-cell;
    padding: 1%;


  }

  .img_in_box {
    height: auto;
    width: 100%;
  }


  .box {
    background-color: grey;
    border: 1px solid black;
    height: 100%;
    width: 90%;
    color: black;
    border-left: 1px solid black;
    border-radius: 15px 5px;
    opacity: 0.8;
    padding: 5%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);




  }

  .box:hover {
    color:white;
    cursor: help;
    opacity: 1;

  }

  .as_table {
    display: block;

  }
  .as_table_left {
    width:100px;
    height:100px;
    position:relative;
    display:block;
    margin:auto;
  }

  .logo_letters {
    position: relative;
    background-color: darkgrey;
    height: 100%;
    width: 100%   ;
    border: 10px solid darkblue;
    border-radius: 100%;
    margin: auto;
  }

  .content1 {
    background-image: url("../images/content1.jpg");
    background-attachment: local;
    -webkit-box-shadow: 0px 0px 31px 25px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 31px 25px rgba(0,0,0,1);
    box-shadow: 0px 0px 31px 25px rgba(0,0,0,1);
    background-position: center;
    background-size: cover;
  }
